{% extends 'base.html' %}


{% block breadcrumb %}
  <ol class="breadcrumb my-4">
    <li class="breadcrumb-item"> <a href="{% url 'home' %}">Moduli</a></li>
    <li class="breadcrumb-item"><a href="{% url 'moduli:sigle-list-edit' %}">Sigle</a></li>
    <li class="breadcrumb-item active">Nuova</li>
  </ol>
{% endblock breadcrumb %}

{% block content %}
<form method="POST" novalidate>
  {% csrf_token %}
  {% include 'includes/form.html' %}
  <button type="submit" class="btn btn-success">Salva</button>
</form>

{% endblock content %}
