{% extends 'moduli/sigla_list.html' %}


{% block modal %}
<div class="modal" id="deleteModal">
  <form method="POST">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal">×</button>
    </div>
    <div class="modal-body">
          {% csrf_token %}
          <p>Sei sicuro di voler cancellare ?</p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      <input type="submit" class="btn btn-danger" value="Confermo">
    </div>
  </form>
</div>
{% endblock modal %}
