{% extends 'base.html' %}

{% block title %}
  {{ block.super }} Sigle Test 2
{% endblock title %}

{% block lmenu %}
  <ul>
    {% for lng in lingua %}
    <li>{{ lng.id }}</li>
    {% endfor %}
  </ul>
{% endblock lmenu %}

{% block breadcrumb %}
    <li class="breadcrumb-item"> <a href="{% url 'home' %}">Moduli</a></li>
    <li class="breadcrumb-item active">Sigle(test2)</li>
{% endblock breadcrumb %}

{% block content %}

<h2>Sigle</h2>
  <div class="table-responsive">
    <table class="table table-striped table-hover table-sm ">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Sigla</th>
          <th scope="col">Descrizione</th>
          {% for lng in lingua %}
          <th scope="col">{{ lng.id }}</th>
          {% endfor %}
        </tr>
      </thead>
      <tbody>
          {% for sigla in sigla_list %}
          <tr>
            <th scope="row">{{ sigla.sigla }}</th>
            <td>{{ sigla.descrizione }}</td>
              {% for lng in lingua.all %}
                <td>
                {% for trad in sigla.traduzione_set.all %}
                    {% if trad.lingua.id == lng.id %}
                      {{ trad.traduzione }}
                    {% endif %}
                {% endfor %}
                </td>
              {% endfor %}
            </tr>
          {% endfor %}
      </tbody>
    </table>
  </div>

  <a class="btn btn-sm btn-info" href="{% url 'moduli:sigla-new' %}">Aggiungi Sigla</a>

{% endblock content %}
