{% extends 'base.html' %}


{% block breadcrumb %}
    <li class="breadcrumb-item"> <a href="{% url 'home' %}">Moduli</a></li>
    <li class="breadcrumb-item"><a href="{% url 'sigle:sigle-test' %}">Sigle(test)</a></li>
    <li class="breadcrumb-item active">Nuova</li>
{% endblock breadcrumb %}

{% block content %}
<form method="POST" novalidate>
  {% csrf_token %}
  {% include 'includes/form.html' %}

  <h2>Traduzioni</h2>

  {% include 'includes/formset_table.html' %}
  <button type="submit" class="btn btn-success">Salva</button>
</form>

{% endblock content %}
