{% extends "base.html" %}

{% block content %}

{% if form.errors %}
<p>Utente o password non corrette. Per favore riprova.</p>
{% endif %}

{% if next %}
    {% if user.is_authenticated %}
    <p>Il tuo account non ha accesso a questa pagina. Per procedere,
    utilizza un account avente il permesso di accesso.</p>
    {% else %}
    <p>Devi effettuare il login per accedere a questa pagina.</p>
    {% endif %}
{% endif %}

<form method="post" action="{% url 'login' %}">
{% csrf_token %}
<form class="px-4 py-3" method="POST" action="{% url 'login' %}">
  {% csrf_token %}
  <div class="form-group">
    <input type="text" class="form-control" name="username" placeholder="Nome utente" />
  </div>
  <div class="form-group">
    <input type="password" class="form-control" name="password" placeholder="Password" />
  </div>

  <button type="submit" class="btn btn.default">Login</button>
</form>

{# Assumes you setup the password_reset view in your URLconf #}
<p><a href="{% url 'password_reset' %}">Password dimenticata?</a></p>

{% endblock %}
