Cioa,

qualcuno ha richiesto un password reset per l'account associato alla mail {{ email }}.
Se non hai richiesto alcun cambio password puoi ignorare questa mail.
Segui il link qua sotto se invece desideri procedere:
{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}

Nel caso te lo fossi dimenticato il tuo username è : {{ user.username }}

Se il link non dovesse funzionare, ti prego di copiare ed incollare l'indirizzo in una nuova finestra del browser.

Nel caso avessi ricevuto questa mail per errore, è probabile che qualcuno abbia inserito per sbaglio il tuo indirizzo email.
Se non hai richiesto esplicitamente il cambio password, non devi fare nulla e semplicemente non considerare la presente mail.

Grazie,

Team di Sviluppo UTEA
