{% extends 'base_accounts.html' %}

{% block title %}{{ block.super }} Azzera la tua password{% endblock %}

{% block content %}
  <div class="row justify-content-center">
    <div class="col-lg-4 col-md-6 col-sm-8">
      <div class="card">
        <div class="card-body">
          <h3 class="card-title">Azzera la tua password</h3>
          <p>Inserisci il tuo indirizzo email, ti verrà inviato un link per azzerare la password.</p>
          <form method="post" novalidate>
            {% csrf_token %}
            {% include 'includes/form.html' %}
            <button type="submit" class="btn btn-primary btn-block">Mandami l'email</button>
          </form>
        </div>
      </div>
    </div>
  </div>

{% endblock content %}
